<h1> New Request </h1>
<%= form_for :gender, url: genders_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </p>

  <p>
    <%= f.label :country %><br>
    <%= f.country_select :place, {priority: %w(US CA), prompt: 'Please select a country'} %>  
</p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
